body {
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
}

.main-container {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.background-container {
  width: 30%;
}

.main-container > .background-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-container {
  background-color: #f9fafb;
  width: 70%;
}

.form {
  padding: 5vh;
  min-height: 25vh;
  margin-bottom: 5vh;
  background-color: white;
  box-shadow: 5px 10px 10px #dbdcdd;
}

.form-description {
  font-size: 1.8em;
  font-weight: bold;
  margin: 8vh 5vh 8vh 5vh;
}

#form {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
}

input {
  width: 100%;
}

label {
  flex-basis: 40%;
  margin-bottom: 2vh;
}

button {
  border: 0px;
  border-radius: 4px;
  width: 10vw;
  height: 2.5vw;
  background-color: #8da65b;
  color: white;
  font-weight: bold;
}

button,
.log-in {
  margin-left: 5vh;
}

a {
  text-decoration: none;
  color: #8da65b;
}

.call-to-action {
  margin: 0 0 5vh 0;
  font-size: 1.8em;
  font-weight: bold;
}
